{% extends "templates/base.html" %}
{% from "www/macros/livecode.html" import LiveCodeEditorLarge, LiveCodeEditorJS with context %}

{% block title %}{{ sketch.title if not error else "Pookkalam" }}{% endblock %}
{% block head_include %}

  {% if not error %}
	<meta name="description" content="Pookklam by {{sketch.get_owner_name() }}" />
	<meta name="keywords" content="code-a-pookkalam" />
  {% endif %}

<link rel="stylesheet" href="/assets/mon_school/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/assets/css/lms.css">

<script src="/assets/mon_school/codemirror/lib/codemirror.js"></script>
<script src="/assets/mon_school/codemirror/mode/python/python.js"></script>
<script src="/assets/mon_school/codemirror/keymap/sublime.js"></script>

<script src="/assets/mon_school/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/assets/mon_school/codemirror/addon/comment/comment.js"></script>
{% endblock %}

{% block content %}

{% if error == "not-logged-in" %}
  <script type="text/javascript">
    window.location.href = `/login?redirect-to=${window.location.pathname}`
  </script>
{% else %}

<section class="top-section" style="padding: 1rem 0rem;">
	<div class='container pb-5'>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page"><a href="/code-a-pookklam">Code-a-pookkalam</a></li>
			</ol>
		</nav>

    <div class="sketch-header pb-5">
      <h1 class="sketch-title">Your Pookkalam</h1>
      {% if sketch.is_submitted %}

      You have submitted your Pookkalam to the contest.

      <div style="margin-bottom: 10px;">
        <button type="submit" id="sketch-withdraw" class="btn-save btn btn-primary">Withdraw</button>
      </div>

      {% else %}
      <div style="margin-bottom: 10px;">
        <button type="submit" id="sketch-submit" class="btn-save btn btn-primary">Submit</button>
        <button type="submit" id="sketch-save-draft" class="btn-save btn btn-secondary">Save Draft</button>
      </div>
      <p>
        You'll not be able to make changes to your Pookkalam after you submit it to the contest.
        However, you can withdraw your submission, make changes and resubmit it again before the submission deadline.
      </p>
      {% endif %}
    </div>

  <div class="sketch-editor">
    {{LiveCodeEditorLarge(sketch.name, sketch.code, runtime="joy", image=sketch.svg) }}
  </div>
  {% endif %}
  {% endblock %}

{%- block script %}
  {{ super() }}

  {% if not error %}
  <script type="text/javascript">
  var page_context = {{ page_context | tojson }};
  </script>

  {{ LiveCodeEditorJS() }}

  <script type="text/javascript">
    var sketch_name = {{ sketch.name | tojson }};

    function saveDraft() {
      var title = $("#sketch-title").val()
      var code = livecodeEditors[0].codemirror.doc.getValue()

      frappe.call('mon_school.mon_school.doctype.contest.contest.save_draft', {
        contest: "{{contest.name}}",
        code: code
      })
      .then(r => {
        var msg = r.message;
        if (!msg.ok) {
          var error = msg.error || "Save failed."
          frappe.msgprint({
            "title": "Error",
            "indicator": "red",
            "message": error
          });
        }
        else {
          frappe.msgprint({
            "title": "Notification",
            "indicator": "green",
            "message": "Your Pookalam has been saved as draft!"
          });
        }
      })
    }

    function updateSketch(method, success_message) {
      var title = $("#sketch-title").val()
      var code = livecodeEditors[0].codemirror.doc.getValue()

      frappe.call(method, {
        contest: "{{contest.name}}",
        code: code
      })
      .then(r => {
        var msg = r.message;
        if (!msg.ok) {
          var error = msg.error || "Failed to submit."
          frappe.msgprint({
            "title": "Error",
            "indicator": "red",
            "message": error
          });
        }
        else {
          frappe.msgprint({
            "title": "Notification",
            "indicator": "green",
            "message": success_message
          });
          setTimeout(() => window.location.reload(false), 2);
        }
      })
    }
    function saveEntry() {
      updateSketch(
        "mon_school.mon_school.doctype.contest.contest.save_entry",
        "Your entry has been saved as draft.")
    }

    function submitEntry() {
      updateSketch(
        "mon_school.mon_school.doctype.contest.contest.submit_entry",
        "Your entry has been submitted to the contest.")
    }

    function withdrawEntry() {
      updateSketch(
        "mon_school.mon_school.doctype.contest.contest.withdraw_entry",
        "Your entry has been withdrawn from the contest. You can now make changes and re-submit.")
    }

    $(function() {
      $("#sketch-submit").click(submitEntry);
      $("#sketch-save-draft").click(saveEntry);
      $("#sketch-withdraw ").click(withdrawEntry);
    })
  </script>
  {% endif %}
{%- endblock %}
