{% extends "templates/base.html" %}
{% from "www/macros/livecode.html" import LiveCodeEditorLarge, LiveCodeEditorJS with context %}

{% block title %}{{sketch.title}}{% endblock %}
{% block head_include %}
	<meta name="description" content="Pookklam by {{sketch.get_owner_name() }}" />
	<meta name="keywords" content="code-a-pookkalam" />
	<style>
	</style>
{% endblock %}

{% block content %}
<section class="top-section" style="padding: 1rem 0rem;">
	<div class='container pb-5'>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page"><a href="/{{ contest.name }}">{{ contest.title }}</a></li>
				<li class="breadcrumb-item" aria-current="page"><a href="/{{ contest.name }}/submissions">Submissions</a></li>
			</ol>
		</nav>

    <div class="sketch-header">
        <h1 class="sketch-title">Pookkalam by {{sketch.get_owner_name()}}</h1>
    </div>

    <div>
      <img src="{{sketch.get_image_url(mode='m')}}"/>
    </div>
</div>
</section>
{%- endblock %}
