{% extends "templates/base.html" %}

{% block title %}Course Progress - Mon School{% endblock %}

{% block head_include %}
  <meta name="description" content="Course Progress - Mon School" />
  <meta name="keywords" content="mon shool the joy of programming" />
  <link rel="stylesheet" href="/assets/css/lms.css">
  <style type="text/css">
    h4.course-subtitle {
      font-size: 1.0em;
      color: #888;
    }
    .progress {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .progress-list li {
      padding: 20px;
    }

  </style>
{% endblock %}

{% block content %}
<section class="top-section" style="padding: 1rem 0rem;">
  <div class='container pb-5'>
	<h1>Course Progress</h1>
    {% if not batch %}
      <div class="alert alert-warning">
        <p>This page accessible only to the batch mentors.</p>
        <p><a class="btn btn-primary" href="/my-courses">Back to Courses</a></p>
      </div>
    {% else %}
      <h4 class="course-subtitle">{{ batch.title }}</h4>

      <div class="course-mentors" style="margin: 20px 0px;">
        <h2>Mentors</h2>

        {% for m in mentors %}
          <div class="course-mentor">
            <h3><a href="/{{m.username}}">{{m.full_name}}</a></h3>
          </div>
        {% endfor %}
      </div>



      <div class="row">
        <div class="col-md-8">
          <h2>Lessons</h2>
          <ul class="list-group progress-list">
            {% for lesson in report.lessons %}
              {% set p = report.get_progress_by_lesson(lesson.name) %}
              <li class="list-group-item">
                <h4>{{lesson.index_label}} {{ lesson.title }}</h4>
                <div class="progress">
                  <div class="progress-bar"
                    role="progressbar"
                    style="width: {{p.percent | round(1) }}%;"
                    aria-valuenow="{{p.value}}"
                    aria-valuemin="0"
                    aria-valuemax="{{p.count}}"></div>
                </div>
                <div class="text-muted">{{p.value}} of {{p.count}} students ({{p.percent | round(1) }}%) completed all the exercises.</div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-4">
          <h2>Students</h2>
          <ul class="list-group">
            {% for p in report.get_progress_by_student() %}
              <li class="list-group-item">
                <h3><a href="/mon/student_progress?student={{p.student.name}}&batch={{batch.name}}">{{p.student.full_name}}</a></h3>
                <div class="text-muted">Completed {{p.count}} of {{p.total}} exercises ({{p.percent | round(1)}}%).</div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}
