<script type="text/javascript" src="/assets/frappe/node_modules/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/assets/frappe/node_modules/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script type="text/javascript" src="/assets/frappe/js/frappe/utils/datetime.js"></script>

<script type="text/javascript">
    // comment_when is failing because of this
    if (!frappe.sys_defaults) {
      frappe.sys_defaults = {}
    }
</script>

{{ include_script("livecode.bundle.js") }}

<template id="livecode-template">

  <div class="livecode-editor livecode-editor-inline">
    <div class="code-editor">
      <div class="code-wrapper">
        <textarea class="code"></textarea>
      </div>
    </div>
    <div class="controls">
      <div class="exercise-controls">
        <button class="submit button btn-primary">Submit Solution</button>
        <!-- <div style="padding-right: 10px;"><span class="last-submitted human-time" data-timestamp=""></span></div> -->
      </div>
      <div class="run-wrapper" style="display: inline;">
        <button class="run button">Run Code</button>
        <span class="run-status"></span>
      </div>
    </div>

    <div class="output-bar">
      <button class="collapse-button button tiny-button pull-right expanded">- Collapse</button>
      <span class="output-label">Output</span>
    </div>
    <div class="output-wrapper">
      <pre class="output"></pre>
      <div class="canvas-wrapper">
        <div class="svg-image" width="300" height="300">
          <svg width="300" height="300" viewBox="-150 -150 300 300" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  $(function() {
    var editorLookup = {};

    if ('is_member' in page_context && !page_context.is_member) {
      $("pre.exercise").replaceWith('<div class="alert alert-warning">Please join the course to submit exercises.</div>')
    }

    $("pre.example, pre.exercise").each((i, e) => {
      var code = $(e).text().trimEnd();

      var template = document.querySelector('#livecode-template');
      var clone = template.content.cloneNode(true);

      var context = {
        ...page_context
      }

      $(e)
      .wrap('<div style="width: 100%;"></div>')
      .hide()
      .parent()
      .append(clone)
      .find("textarea.code")
      .val(code);

      if ($(e).hasClass("exercise")) {
        context.source_type = "exercise";
        context.exercise = $(e).data("name");

        var last_submitted = $(e).data("last-submitted");
        if (last_submitted) {
          $(e).parent().find(".last-submitted")
            .data("timestamp", last_submitted)
            .html(__("Submitted {0}", [comment_when(last_submitted)]));
        }
      }
      else {
        context.source_type = "example";
        context.example = $(e).attr("id");

        $(e).parent().find(".exercise-controls").remove();
      }

      var editor = new LiveCodeEditor(e.parentElement, {
        codemirror: true,
        context: context,
        events: {
          beforeRun: function() {
            expandOutput(editor.parent);
          }
        }
      });

      $(e).parent().find(".submit").on('click', function() {
        var name = $(e).data("name");
        let code = editor.codemirror.doc.getValue();

        frappe.call("community.lms.api.submit_solution", {
          "exercise": name,
          "code": code
        }).then(r => {
          if (r.message.name) {
            frappe.msgprint("Submitted successfully!");

            let d = r.message.creation;
            $(e).parent().find(".human-time").html(__("Submitted {0}", [comment_when(d)]));
          }
        });
      });
    });

    $(".exercise-image").each((i, e) => {
      var svg = JSON.parse($(e).data("image"));
      $(e).html(svg);
    });

    $("pre.example").each((i, e) => {
      collapseOutput($(e).parent());
      $(e).parent().find(".output-bar").hide();
    });

    $("pre.exercise").each((i, e) => {
      var svg = JSON.parse($(e).data("image"));
      if (svg) {
        // We need to add the svg without removing the svg element from DOM
        // as the <svg> element is already cached in the LiveCodeEditor.
        //
        // We are adding the svg to a temporary div and taking the innerHTML
        // of the svg element and copying that to the svg element already
        // present in the DOM.
        var div = document.createElement("div");
        div.innerHTML = svg;

        var innerSVG = $(div).find("svg").html();
        $(e).parent().find(".svg-image svg").html(innerSVG);
        expandOutput($(e).parent());
      }

      // XXX: The livecode editor wasn't showing full width for exercises
      // This is a hack to fix it
      $(e).closest("div.exercise").parent().attr("style", "width: 100%;")
    });

    $(".collapse-button").on('click', function() {
      const e = $(this).closest(".livecode-editor");

      if ($(this).hasClass("collapsed")) {
        expandOutput(e);
      }
      else {
        collapseOutput(e);
      }
    });

    function expandOutput(livecode_element) {
      $(livecode_element)
        .find(".collapse-button")
        .text("- Collapse")
        .removeClass("collapsed");

      $(livecode_element).find(".output-bar").show();
      $(livecode_element).find(".output-wrapper").show();
    }

    function collapseOutput(livecode_element) {
      $(livecode_element)
        .find(".collapse-button")
        .text("+ Expand")
        .addClass("collapsed");

      $(livecode_element).find(".output-wrapper").hide();
    }
  });
</script>

<style type="text/css">
  .svg-image {
    border: 5px solid #ddd;
    position: relative;
    z-index: 0;
    width: 310px;
    height: 310px;
  }
  .livecode-editor {
    margin: 24px -25px;
    background: var(--gray-50);
  }


  /* work-in-progress styles for showing admonition */
  .admonition {
    border: 1px solid #aaa;
    border-left: .5rem solid #888;
    border-radius: .3em;
    font-size: 0.9em;
    margin: 1.5em 0;
    padding: 0 0.5em;
  }
  .admonition-title {
    padding: 0.5em 0px;
    font-weight: bold;
    padding-top:
  }

  .livecode-editor .controls {
    padding: 16px 4px;
    display: flex;
    align-items: right;
    justify-content: right;
    background: var(--gray-50);
  }

  .livecode-editor .controls button.button {
    margin: 0px 12px;
  }

  .livecode-editor .CodeMirror {
    border: none;
    background: var(--gray-50);
    color: var(--gray-900);
  }

  .livecode-editor .CodeMirror {
    padding: 16px 0px;
    height: auto;
  }
  .livecode-editor .CodeMirror-scroll {
    max-height: auto;
    min-height: auto;
  }

  .CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    padding: 0px 16px;
  }

  .CodeMirror-linenumber {
    padding: 0px 16px 0px 8px;
    background: var(--gray-400);
    color: #192734;
  }

  .CodeMirror-gutter {
    background: var(--gray-400);
  }

  .canvas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-50);
    padding: 10px 0px;
  }
  .output-bar {
    padding: 16px;
    background: var(--yellow-100);
    color: var(--gray-900);
  }
  .livecode-editor pre.output {
    position: relative;
    width: auto;
    padding: 0px;
  }

  span.output-label {
    font-weight: bold;
  }
  .tiny-button {
    padding: 4px 8px;
    margin-top: -2px;
  }
  .output-wrapper {
    padding: 10px 0px;
  }
}
</style>
