{% extends "templates/base.html" %}
{% from "www/macros/livecode.html" import LiveCodeEditor, LiveCodeEditorJS %}
{% from "www/macros/sketch_card.html" import sketch_card %}

{% block title %}Sketches{% endblock %}
{% block head_include %}
<meta name="description" content="Sketches" />
<meta name="keywords" content="sketches" />
<link rel="stylesheet" href="/assets/css/lms.css">
{% endblock %}

{% block content %}
<div class="common-page-style">
  <div class='container'>
    <div class="sketch-page-header">
      <span class="course-home-headings">Sketches</span>
      <a href="/sketches/new" class="btn btn-primary pull-right">Submit a Sketch</a>
    </div>
    <div class="card-divider-dark"></div>
    <div class="sketch-list">
      {% for sketch in sketches %}
      {{ sketch_card(sketch, False, widgets) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
