:root {
	--primary-color: #08B74F !important;
}

.sketch-teaser {
	flex-direction: column;
}

.sketch-teaser svg {
	width: 200px;
	height: 200px;
}

.sketch-image {
	padding: 0.5rem;
	text-align: center;
}

.sketch-footer {
	margin: 1rem 1.5rem 1rem;
}

.sketch-page-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.sketch-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	row-gap: 2rem;
}

.sketch-link {
	color: inherit;
	font-size: 0.75rem;
	line-height: 135%;
}

.sketch-link:hover {
	text-decoration: none;
}

.sketch-title {
	margin-bottom: 16px;
}

.sketch-creator {
	font-size: 12px;
	line-height: 135%;
	color: var(--text-color-dark);
}
